
body, html {
	height: 100%;
	background-color:#fbd3f9;
	font-family: monospace;
}

h1 {
	text-align: center;
	font-family: monospace;
}

.topnav {
	overflow: hidden;
	background-color: #f084e2;
}
* {
  box-sizing: border-box;
}

.backgroundImage {
	background-image:
		url("https://s.hdnux.com/photos/01/25/37/56/22412210/7/1920x0.jpg");
	height: 25%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	
}

.form {
	position: absolute;
	margin: 20px;
	max-width: 300px;
	padding: 16px;
	background-color: #fef5fd;
	border: 2px solid  #f084e2;
 	border-radius: 12px;
 	font-size: 17px;
}

button {
	border-radius: 12px;
	background-color: white;
	font-size:15px;
	margin: 3px;
}

button:hover {
	background-color: #a4278e; /* pink/purple */
	color: white;
}

#deleteCookie:hover{
	background-color:#e51f1f;
	color:white;
}
/* #updateCookie, deleteCookie{
	font-size:15px;
} */
.btn {
	float: left;
	padding: 20px 16px;
	font-size: 15px;
}

li{
	margin: 20px;
/* 	text-align: center; */
	 font-size: 17px;
}

img{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

p{
	font-size:13px;
}