body {
	background-color:#fbd3f9;
	font-family:monospace;
}

h1{
	text-align:center;
}

.topnav{
	overflow: hidden;
	background-color:#f084e2;
}

.topnav input[type=submit]{
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 3px;
  background: #f8fdfe;
  font-size: 17px;
  border: none;
  cursor: pointer;
  	
}

.topnav input[type=text]{
 padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}


button {
border-radius: 12px;
background-color:white;
  margin: 3px;
}

#deleteCookie:hover{
	background-color:#e51f1f;
	color:white;
}
button:hover{
	background-color:#a4278e; /* pink/purple */
	color:white;
}


table, th, tr, td{
	top: 20%;
	border:3px solid black;
	text-align: center;
	padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 20px;
   padding-right: 20px;
}
.cookieName{
	font-weight: bold;
	 font-size: 20px;
}

th{
	background-color: #fdeafc;
	font-weight: bold;
	 font-size: 25px;
}

td{
	 font-size: 20px;
}

#cookieTable tbody tr:nth-child(even){
	background-color: #fdeafc;
}

#cookieTable tbody tr:nth-child(odd){
	background-color: white;
}
.addCookie{
	float:right;
	padding: 20px 16px;
}


